<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>MultiPlayer</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>MultiPlayer использует медиатеку, чтобы показать и воспроизводить треки с устройства.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>YandexAuthClientID</key>
	<string>$(YANDEX_AUTH_CLIENT_ID)</string>
	<key>YandexMusicFileInfoClient</key>
	<string>$(YANDEX_MUSIC_FILE_INFO_CLIENT)</string>
	<key>YandexMusicFileInfoSecret</key>
	<string>$(YANDEX_MUSIC_FILE_INFO_SECRET)</string>
	<key>YandexMusicStreamingClient</key>
	<string>$(YANDEX_MUSIC_STREAMING_CLIENT)</string>
	<key>YandexMusicStreamingSecret</key>
	<string>$(YANDEX_MUSIC_STREAMING_SECRET)</string>
</dict>
</plist>
